@import url('https://fonts.googleapis.com/css2?family=Charm:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Charm', cursive;
  }

  #imagem{
    padding-left: 50%;
  }

    #formulario{
    padding: 30px;
    width: 500px;
    background-color: #3333332c;
    height: 585px;
    float: right;
  }
  
  .container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .container * {
    box-sizing: border-box;
  }
  
  .flex-outer,
  .flex-inner {
    list-style-type: none;
    padding: 0;
  }
  
  .flex-outer {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .flex-outer li,
  .flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .flex-inner {
    padding: 0 8px;
    justify-content: space-between;  
  }
  
  .flex-outer > li:not(:last-child) {
    margin-bottom: 20px;
  }
  
  .flex-outer li label,
  .flex-outer li p {
    padding: 8px;
    font-weight: 300;
    letter-spacing: .09em;
    text-transform: uppercase;
  }
  
  .flex-outer > li > label,
  .flex-outer li p {
    flex: 1 0 120px;
    max-width: 220px;
  }
  
  .flex-outer > li > label + *,
  .flex-inner {
    flex: 1 0 220px;
  }
  
  .flex-outer li p {
    margin: 0;
  }
  
  .flex-outer li input:not([type='checkbox']),
  .flex-outer li textarea {
    padding: 15px;
    border: none;
  }
  
  .flex-outer li button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    color: #ffffff;
    background: #6bba75;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
    transition: all 1s;
  }

  button:hover{
    transform: scale(1.2);
    cursor: pointer;
  }
  
  .flex-inner li {
    width: 100px;
  }

  input, textarea{
    border-radius: 10px;
    color: #000;
    background-color: #afffba;
  }
